<a class="hero__module hero__module--{{ id }}" 
    style="background-image: url('{{ image | img_url: 'master' }}')"
    href="{{ link }}">
    <div class="hero__cta">
        <h2>{{ text }}</h2>
        {%- render 'icon-right-arrow'-%}
    </div>
</a>
{% style %}
    .hero__module--{{ id }} {
        background-size: {{ mobile_size }};
        height: {{ height_mobile }}px !important;
        background-position: {{ bg_position_mobile_x }}% {{ bg_position_mobile_y }}%;
    }
    @media only screen and (min-width: 768px) {
        .hero__module--{{ id }} {
            background-size: {{ desktop_size }};
            height: {{ height_desktop }}px !important;
            background-position: {{ bg_position_desktop_x }}% {{ bg_position_desktop_y }}%;
        }
    }
{% endstyle %}